# Logs
*.log

# Dependencies
node_modules/

# Transpiled files
dist/
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Misc
.DS_Store
npm-debug.log