.container {
    margin: 12px;
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex: 1;
}

.card__text {
    padding: 0 !important;
}

.card__text p {
    padding-left: 10px;
}